.card{
    background-color: #ffffff;
    max-width: 20em;
    margin-top: 1em;
    padding: 0.2em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(43, 43, 43, 0.3);
}
.img-container{
    text-align: center;

}

#mobile{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1em;
    padding: 2em 5em 2em 5em;
}

.fimage{
    max-width: 100%;
    object-fit: contain;
    height: 17em;
}

.container {
    padding-top: 1em;
    color: #110f29;
}

.container h5{
    font-weight: 500;
}

@media screen and(max-width: 720px) {
    img{
        max-width: 100%;
        object-fit: contain;
        height: 10em;
    }
    .card{
        max-width: 10em;
        margin-top: 1em;
    }
    #mobile{
        grid-template-columns: auto auto;
        grid-column-gap: 1em;
    }

}

*{
    padding : 0%;
    margin: 0%;
    box-sizing:border-box;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

.navbar-brand{
    width: 15%;
}

.page-footer{
    background-color: #262626;
}
.text-center{
    color: white !important;
}